{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/react"
    ],
    "plugins": ["react", "jest"],
    "parserOptions": {
        "ecmaFeatures": {
          "ecmaVersion": 6,
          "sourceType": "module",
          "jsx": true
        }
      },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "settings": {
        "react": {
          "version": "detect"
        }
    }
}