{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/react"
    ],
    "rules": {
      "react/prop-types": "warn"
    },
    "plugins": ["react", "jest"],
    "parserOptions": {
        "ecmaFeatures": {
          "ecmaVersion": 6,
          "sourceType": "module",
          "jsx": true
        }
      },
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "settings": {
        "react": {
          "version": "detect"
        }
    },
    "globals": {
      "shallow": "readonly",
      "mount": "readonly"
  }
}