.ReactTable {
  border: none;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  color: #bfbfbf;
  padding: 5px;
  float: left;
}

.ReactTable .rt-tbody .rt-td {
  padding: 20px 0px 10px 0px;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-tbody .rt-td {
  border-right: none;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 1px solid #bfbfbf;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: none;
}

.ReactTable .rt-thead .rt-resizable-header {
  padding-left: 0;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  padding-left: 0;
}

.view-button {
  float: right;
  height: 30px;
  width: 75px;
  color: white;
  background-color: #a08264;
}
